# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Uploaded files & generated HLS output
uploads/
videos/
hls/

# macOS
.DS_Store

# iOS / Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.swiftpm/

# VS Code
.vscode/

# Logs
logs/
*.log
